<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Adam Troxell Portfolio site</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="#!">Adam Troxell Portfolio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#projects">Projects</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                        
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
         <section id="about">

             <header class="bg-dark ">
                 <div class="container">
                     <div class="row justify-content-center">
                         <div class="col-lg-10">
                            <div class="image-container">
                                <img src="assets/Adam.jpg" alt="adam-troxell1" height="300px">
                              </div>
                             <div class="text-center my-5">
                                 <h1 class="display-5 fw-bolder text-white mb-2">About me</h1>
                                </div>
                                <p class="about">
                                    Hello! I'm Adam Troxell, a Full Stack Developer with a passion for creating seamless and dynamic web applications. I've recently completed an immersive 20-week Full Stack Development program at Emerging Digital Academy, where I honed my skills in HTML5, CSS, JavaScript, React, and Node.js.
                                    
                                    <p class="about">
                                        With years of experience in technical support, project ownership, and leadership, I bring a unique blend of technical expertise and customer-centric focus to my development work. My background includes roles as a Solutions Manager, Customer Coordinator, and Technical Support Specialist, where I developed a deep understanding of user needs and the importance of delivering high-quality solutions.
                                    </p>
                                    <p class="about">
                                        
                                        In addition to my technical skills, I have a proven track record in managing and leading projects to successful completion. I thrive in collaborative environments and am always eager to learn and adapt to new challenges. My goal is to leverage my diverse skill set to build innovative solutions that make a positive impact.
                                    </p>
                                    <p class="about">
                                        
                                        When I'm not coding, you can find me exploring new travel destinations, cruising with my wife, or enjoying the thrills of theme parks. I'm a progressive thinker who values diversity, inclusivity, and continuous learning. </p>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </header>
                    </section>
                        <!-- Features section-->
        <section class="py-5 border-bottom" id="projects">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><h2>𝕎𝕎</h2></div>
                        <h2 class="h4 fw-bolder">WanderWise</h2>
                        <p>WanderWise is a travel planning application designed to streamline the process of organizing trips. It allows users to manage trip details, create daily itineraries, and map out locations with ease. Developed with a focus on user experience and functionality, WanderWise aims to be the ultimate companion for travelers seeking to plan their adventures efficiently and enjoyably.</p>
                        <a class="text-decoration-none" href="https://wanderwise-at.fly.dev/">
                            View the project
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h4 fw-bolder">Pizza Parlor Demonstration</h2>
                        <p>This light app demonstrates the ability to create multiple pages using React and Redux to store information in state and pull that out and display information and transform it. This app demonstrates minor styling and my first foray into using Cards.</p>
                    </div>
                </div>
            </div>
        </section>
       
        <!-- Contact section-->
        <section class="bg-light py-5" id="contact">
                <div class="container px-5 my-5 px-5">
                    <div class="text-center mb-5">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                        <h2 class="fw-bolder">Contact me</h2>
                        <p class="lead mb-0">I'd love to hear from you, whether it's software solutions or project advice, I'm happy to discuss! Click the button below to email me, or reach out to me at the following:</p>
                        <p class="lead mb-0"><strong>Phone:</strong> 701-200-0150</p>
                        <p class="lead mb-0"><strong>Email:</strong> adamtxl@hotmail.com </p>
                        <p class="lead mb-0"> <strong>LinkedIn</strong> <a href="https://www.linkedin.com/in/adam-troxell1/">Adam Troxell</a></p>
                        <p class="lead mb-0"><strong> GitHub: </strong> <a href="https://github.com/adamtxl">Adam Troxell</a></p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="mailto:adamtxl@hotmail.com">
                            <button type="button" class="btn btn-primary">
                                Contact me
                            </button>
                        </a>
                    </div>
                </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Adam Troxell 2024</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
